<section class="container">
  <header style="width: 100%;" class="row">
    <div class="col-sm-12 text-center row">
      <h3>Book-list</h3>
      <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#exampleModal"
      (click) = 'addBook()'>
        Add Book
      </button>
    </div>
  </header>
  <div class='col-sm-12'>
    <table class="table table-striped table-bordered">
      <thead class="thead-light">
        <tr>
          <th (click)="sort('ID')">#
              <i class="fa" 
              [ngClass]="{'fa-sort': column != 'ID', 
                                  'fa-sort-asc': (column == 'ID' && !isDesc), 
                                  'fa-sort-desc': (column == 'ID' && isDesc) }"
              aria-hidden="true"></i>
          </th>
          <th>Title</th>
          <th>Published On</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let book of bookList| paginate: { itemsPerPage: 10, currentPage: p } | orderByPipe: {property: column, direction: direction}'>
          <td>{{book.ID}}</td>
          <td>{{book.Title}}</td>
          <td>{{book.PublishDate}}</td>
          <td>
            <button (click)=editBook(book.ID) data-toggle="modal" data-target="#exampleModal">Edit</button>
            <button (click)=deleteBook(book.ID)>Delete</button>
          </td>
        </tr>
      </tbody>
    </table> 
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>

  <app-add-book (valueChange)='addToList($event)' [currentBookId]= currentBookId  [isEditBook] = isEditBook></app-add-book>
</section>