<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Book Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #bookForm="ngForm">
          <fieldset>
            <div class="form-group row">
              <label for="ID" class="col-sm-3 col-form-label"># </label>
              <div class="col-sm-9">
                <input type="number" class="form-control" name="ID" required [(ngModel)]="book.ID" #id="ngModel">
                <div [hidden]="id.valid || id.pristine" class="alert alert-danger">
                  ID is required
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label" for="Title">Title: </label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="Title" required [(ngModel)]="book.Title" #title1>
              </div>
              <div [hidden]="id.valid || id.pristine" class="alert alert-danger">
                Title is required
              </div>
            </div>
            <div class="form-group row">
              <label for="PublishDate" class="col-sm-3 col-form-label">Publish Date: </label>
              <div class="col-sm-9">
                <input type="date" class="form-control" name="PublishDate" required [(ngModel)]="book.PublishDate">
              </div>
              <div [hidden]="id.valid || id.pristine" class="alert alert-danger">
                Publish Date is required
              </div>
            </div>
            <div class="form-group row">
              <label for="Description" class="col-sm-3 col-form-label">Description: </label>
              <div class="col-sm-9">
                <textarea name="Description" [(ngModel)]="book.Description" class="form-control"></textarea>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onSubmit(); bookForm.reset()" #submitButton>Save changes</button>
      </div>
    </div>
  </div>
</div>